<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <span class="glyphicon glyphicon-picture"></span>
            My Instagram Photos
        </a>
    </div>
</nav>